<!-- <h1>Homepages Index View</h1> -->
<%# link_to "All Passengers", passengers_path %> <br>
<%#link_to "All Drivers", drivers_path %><br>
<%# link_to "Create New Passenger", new_passenger_path %><br>
<%# link_to "Create New Driver", new_driver_path %>

<%# TODO: this should be added to application.html.erb file to show up on all pages %>
<main class="homepage">
    <h1>Get where you need to go</h1>
    <h2><strong class="tagline">ooobur</strong> fast!</h2>
    <img src="http://lorempixel.com/740/460/city" alt ="city image_from lorempixel.com">
</main>