<h1>Homepages Index View</h1>
<%= link_to "All Passengers", passengers_path %>
<%= link_to "All Drivers", drivers_path %>
<%= link_to "Create New Passenger", new_passenger_path %>
<%= link_to "Create New Driver", new_driver_path %>

<%# TODO: this should be added to application.html.erb file to show up on all pages %>
