<main class="list-all">
    <div>
        <h3>Passengers</h3>
    </div>
    <table id="index-table">
        <tr>
          <th class="header">Name</th>
          <th class="header">Image</th>
        </tr>
        <% @passengers.each do |passenger|%>
        <tr>
            <th><%= link_to passenger.name, passenger_path(passenger.id) %></th>
            <th><img src="http://placekitten.com/100/100"></th>
        </tr>
        <% end %>  
    </table>
</main>