<main class="list-all">
    <div class="h1-block">
        <h1>Ooobur Drivers</h1>
         <p class="flash">
            <%= flash[:success] if flash[:success] %>
            <%= flash[:error] if flash[:error] %>
        </p>
    </div>
    <ul class="index-list">
        <li>
                <span class="header">Image</span>
                <span class="header">Name</span>
                <span class="header">Edit / Delete</span>
        </li>
        <% @drivers.each do |driver| %>
        <li>
            <span><img src="https://picsum.photos/100/100"></span>
            <span><%= link_to driver.name, driver_path(driver) %></span>
        </li>
        <% end %>
    </ul>
</main>