<h1>Drivers Index View</h1>

<h3><%= link_to "Return to Homepage", "/"%></h3>


<% @drivers.each do |driver| %>
    <%= link_to driver.name, driver_path(driver) %>
    <%# TODO: ADD LINK TO DRIVER DETAILS PAGE - SHOW METHOD %>
     <br>
<% end %>